const config = {
 mongodb_url: 'mongodb://localhost:27017/monitor',
 jwt_secret: 'zhangjw.uta@gmail.com',

 default_user: 'admin@monitor.com',
 defult_password: 'admin',

 http_port: 3000,
 websocket_port: 3001
}

module.exports = config